.items {
    display: flex; /* Esto activa el flexbox */
}

.filter {
    margin: 5px;
    border: 1px solid #000; /* Esto añade un borde al div .filter */
    padding: 20px; /* Esto añade algo de espacio alrededor del contenido de .filter */
    margin-right: 20px; /* Esto añade un margen a la derecha para separar .filter de .table */
}

.table {
    border: 1px solid #000;
    margin: 5px;
    flex-grow: 1; /* Esto permite que el div .table ocupe todo el espacio disponible restante */
}
